/ {
    aliases {
        my-button = &button_1;
    };

    button_1: custom_button_1 {
        compatible = "custom,button";
        gpio = <&d5>;
    };

    gpio-keys {
        compatible = "gpio-keys";
        debounce-interval-ms = <50>;
        polling-mode;

        d5: gpio5 {
            gpios = <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
    };
};