#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {
    chosen {
        zephyr,display = &st7735r_160x80;
    };

    mipi_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi2>;
        dc-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
        #address-cells = <1>;
        #size-cells = <0>;

        st7735r_160x80: st7735r@0 {
            compatible = "sitronix,st7735r";
            reg = <0>;
            mipi-max-frequency = <20000000>;
			mipi-mode = <MIPI_DBI_MODE_SPI_4WIRE>;
			reg = <0>;
			width = <160>;
			height = <80>;
			inversion-on;
			rgb-is-inverted;
			x-offset = <1>;
			y-offset = <26>;
			pwctr1 = [A2 02 84];
			pwctr2 = [C5];
			pwctr3 = [0A 00];
			pwctr4 = [8A 2A];
			pwctr5 = [8A EE];
			invctr = <7>;
			frmctr1 = [01 2C 2D];
			frmctr2 = [01 2C 2D];
			frmctr3 = [01 2C 2D 01 2C 2D];
			vmctr1 = <14>;
			gamctrp1 = [02 1C 07 12 37 32 29 2D 29 25 2B 39 00 01 03 10];
			gamctrn1 = [03 1D 07 06 2E 2C 29 2D 2E 2E 37 3F 00 00 02 10];
			colmod = <5>;
			/* Set D3 (RGB) bit to 1. LV_COLOR_16_SWAP is enabled by default */
			madctl = <184>; /* Set to <120> to rotate the image 180 degrees. */
			caset = [00 01 00 a0];
			raset = [00 1a 00 69];
        };
    };
};

&spi2 {
    pinctrl-0 = <&spi2_custom_pins>;
    status = "okay";
};

&pinctrl {
    spi2_custom_pins: spi2_custom_pins {
		group1 {
			pinmux = <SPIM2_MISO_GPIO11>,
				 <SPIM2_SCLK_GPIO12>,
				 <SPIM2_CSEL_GPIO9>;
		};
		group2 {
			pinmux = <SPIM2_MOSI_GPIO10>;
			output-low;
		};
	};
};