/{
	aliases {
		my-adc = &adc0;
		my-adc-channel = &adc0_ch3;
	};
};

// ADC0 Ch 3 is connected to GPIO4
&adc0 {
	status = "okay";
    #address-cells = <1>;
	#size-cells = <0>;
    
	adc0_ch3: channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};